@model TripRadar.Models.TripViewModel
@{
    ViewBag.Title = "Places";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Recommended Stops</h2>
<h3>Gas Stations</h3>
<div>
    
    <iframe height="800"
            width="800"
            frameborder="0"
            src="https://www.google.com/maps/embed/v1/search?key=AIzaSyClqIXEuixfPAVE6ZoxSCO7zOFtX2rCpwA&q=gas_stations+near+@Model.ProjectedZip&zoom=14">
    </iframe>
</div>
<p>
    @Html.ActionLink("Next Recommended Stop", "Places", new { zip = Model.ProjectedZip, id = Model.Trip.TripID }, new { @class = "btn btn-primary" })
</p>
