@{
    ViewBag.Title = "SendEmail";
}

<h2> SendEmail </h2>

<br />
<br />

@if (ViewBag.Error != null)
{
    <h2> @ViewBag.Error </h2>
}

@using (Html.BeginForm())
{
    <form method="post" action="SendEmail">

        <div class="form-horizontal">

            <span class="form-control-static"> Receiver: </span>
            <input class="form-control" type="text" name="receiver" />

            <br />

            <span class="form-control-static"> Subject: </span>
            <input class="form-control" type="text" name="subject" />

            <br />

            <span class="form-control-static"> Message: </span>
            <input class="form-control" type="text" name="message" />

            <br />

            <input class="btn btn-primary" type="submit" value="Send" />

        </div>
    </form>
}